<div class="container ">
  <h3>New Contact</h3>
  <%= simple_form_for(@contact) do |f| %>

    <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia.discordapp.net%2Fattachments%2F1112292984747204731%2F1117728036645769337%2FDaFoRceZ_logo_for_a_job_application_management_app_fish_trip_bi_f250d0fd-17a2-4115-a1f2-cf0392003020.png%3Fwidth%3D998%26height%3D998" alt="" class="mx-auto w-1/2 aspect-square rounded-full">
    <%= f.input :firstname, input_html: { class: 'text-center' } %>
    <%= f.input :lastname, input_html: { class: 'text-center' } %>
    <%= f.input :title, input_html: { class: 'text-center' } %>
    <p class="text-center">
      <div class="field">
        <%= f.association :company, label_method: :name, class: "text-center" %>
      </div>
      <%= f.input :linkedin %>
      <%= f.input :insta %>
      <%= f.input :twitter %>
      <div class="contact-info bg-yellow-100 container">
        <h3>Contacts</h3>
        <div class="contact-info-item flex">
          <i class="w-10 fa-solid fa-phone"></i>
          <%= f.input :phone %>
        </div>
        <div class="contact-info-item flex">
          <i class="w-10 fa-solid fa-envelope"></i>
          <%= f.input :email %>
        </div>
      </div>
      <div class="contact-about bg-green-100 container">
        <h3>Note</h3>
        <%= f.input :note %>
      </div>
    <% end %>
  </div>
