<div class="container ">
  <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia.discordapp.net%2Fattachments%2F1112292984747204731%2F1117728036645769337%2FDaFoRceZ_logo_for_a_job_application_management_app_fish_trip_bi_f250d0fd-17a2-4115-a1f2-cf0392003020.png%3Fwidth%3D998%26height%3D998" alt="" class="mx-auto w-1/2 aspect-square rounded-full">
  <h3 class="text-center"><%= "#{contact.firstname} #{contact.lastname}" %></h3>
  <p class="text-center"><%= contact.title %></p>
  <p class="text-center">
    <%#= link_to company_path(contact.company) do %>
      <i class="fa-solid fa-buildings"></i><%= contact.company.name %></p>
    <%# end %>
    <div class="contact-scocials flex justify-around mx-auto w-1/2">
      <a href="www.linkdedin.com/<%= contact.linkedin %>">
        <div class="contact-social"><i class="fa-brands fa-linkedin"></i></div>
      </a>
      <a href="www.instagram.com/<%= contact.linkedin %>">
        <div class="contact-social"><i class="fa-brands fa-instagram"></i></div>
      </a>
      <a href="www.twitter.com/<%= contact.linkedin %>">
        <div class="contact-social"><i class="fa-brands fa-twitter"></i></div>
      </a>
    </div>

    <div class="contact-info bg-yellow-100 container">
      <h3>Contacts</h3>
      <div class="contact-info-item flex">
        <i class="w-10 fa-solid fa-phone"></i>
        <div><%= contact.phone %>
        </div>
      </div>
      <div class="contact-info-item flex">
        <i class="w-10 fa-solid fa-envelope"></i>
        <div><%= contact.email %>
        </div>
      </div>
      <div class="contact-info-item flex">
        <i class="w-10 fa-solid fa-link"></i>
        <div><%= contact.company.website %>
        </div>
      </div>
      <div class="contact-info-item flex">
        <i class="w-10 fa-solid fa-location-dot"></i>
        <div><%= contact.company.address %>
        </div>
      </div>
    </div>
    <div class="contact-about bg-green-100 container">
      <h3>Note</h3>
      <p><%= contact.note %></p>
    </div>
  </div>
